<configuration>
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>ksuid-test.log</file>
        <encoder>
            <pattern>%d{yyyy-MMM-dd HH:mm:ss.SSS'Z',GMT} level=%p thread=%thread pid=${PID:- } code_location=%-40.40logger{39} %replace(%mdc){', ', ' '} %m%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="FILE"/>
    </root>
</configuration>
